<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.bhs.helpviewer.controls</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>A8C54818-D880-4570-A397-49194B32A032</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FEBC634-CA2C-45D9-81EB-E6FE594FFC8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8EC111E-B065-4BEC-A33D-A94A461A1585</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95C1643A-4231-47A5-B0E0-5B6DDC7A0460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bruce Steinberg</string>
	<key>description</key>
	<string>Using osacript to allow keyboard shortcut control of forward and back buttons.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Forward and Back in Help Viewer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -e 'tell app "HelpViewer" to go back'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>95C1643A-4231-47A5-B0E0-5B6DDC7A0460</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>79</integer>
				<key>hotmod</key>
				<integer>10354688</integer>
				<key>hotstring</key>
				<string>F18</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E8EC111E-B065-4BEC-A33D-A94A461A1585</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>80</integer>
				<key>hotmod</key>
				<integer>10354688</integer>
				<key>hotstring</key>
				<string>F19</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A8C54818-D880-4570-A397-49194B32A032</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -e 'tell app "HelpViewer" to go forward'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>1FEBC634-CA2C-45D9-81EB-E6FE594FFC8B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Help Viewer never takes focus, so this workflow must be available in *all* applications. Use Better Touch Tool to bind hotkeys to mouse buttons.</string>
	<key>uidata</key>
	<dict>
		<key>1FEBC634-CA2C-45D9-81EB-E6FE594FFC8B</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>95C1643A-4231-47A5-B0E0-5B6DDC7A0460</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>A8C54818-D880-4570-A397-49194B32A032</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>E8EC111E-B065-4BEC-A33D-A94A461A1585</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
